body {
  font-family: Arial, sans-serif;
  background-color: #f5f5dc;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  position: relative; 
}

/* Startseite-Container */
#startseite {
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: all 0.3s ease;
}

#headline {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  color: #333;
  margin-left: 130px;
  margin-right: 130px;
  transition: all 0.3s ease;
}

/* App-Name */
#app-name {
  margin-bottom: 20px; /* Abstand zum Menü */
  font-size: 32px;
  font-weight: bold;
  color: #007BFF; /* Blau */
}

/* Menü */
#menu {
  margin-top: 20px;
  display: flex;               
  flex-direction: column;      
  align-items: center;         
  text-align: center; 
}

/* Buttons anpassen */
.menu-button {
  font-size: 18px;
  margin: 10px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu-button:hover {
  background-color: #0056b3;
}

#lesson-controls {
  text-align: center;
  position: relative; /* Wichtig für absolute Positionierung der Buttons */
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}

.lesson-button {
  font-size: 16px;
  padding: 8px 15px;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0; /* Entfernt unnötige Margins */
  transition: background-color 0.3s ease;
}

.lesson-button:disabled {
  background-color: lightgray;
  cursor: not-allowed;
}

.lesson-button:hover:not(:disabled) {
  background-color: green;
}

#next-button {
  position: absolute; 
  right: 10px; 
  top: 10px;  
  background-color: gray; 
}

#close-button {
  position: absolute; 
  left: 10px; 
  top: 10px; 
  background-color: gray; 
}

#close-button:hover {
  background-color: red;
}

#abschluss-meldung {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid #007BFF;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  width: 80%;
  max-width: 400px;
  display: none; /* Standardmäßig versteckt */
}

#abschluss-meldung.hidden {
  display: none;
}

.meldung-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.abschluss-button {
  font-size: 16px;
  margin: 10px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.abschluss-button:hover {
  background-color: #0056b3;
}
